ion-toolbar {
  --background: #ede6e6;
  font-family: "Bricolage Grotesque";
  font-size: 46px;
}

.main-container{
  padding: 20px 20px 20px 20px;

  h1 {
    margin-top: 0;
    font-family: "Bricolage Grotesque";
    font-weight: bold;
    font-size: 50px;
    color: #ff1778;
  }

  h2 {
    font-family: "Inria Sans";
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
  }

  h3{
    font-family: "Inria Sans";
    font-style: italic;
    font-weight: lighter;
  }

  p{
    font-family: "Inria Sans";
  }
}

ion-content{
  --background: #f3eef1;
}

ion-button{
  --background: #ff1778;
  --border-radius: 50px;
}

ion-avatar {
  padding: 5px;
}
