<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row><ion-back-button defaultHref="/tab3"></ion-back-button>
      <ion-title>back to clubs</ion-title></ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-container">
    <h1>WSWED (Wann sind wir endlich da?) Run Club</h1>
    <h2>MEMBERS</h2>
    <ion-row>
      <ion-avatar class="CEO">
        <img alt="Silhouette of a person's head" src="assets/avatar/cover.png" />
      </ion-avatar>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-row>
    <h2>Description</h2>
    <p>We aren't out here hunting Olympic medals. We’re a group of friends who realized that moving your legs is a lot easier when you’re laughing. Our philosophy is simple: No one gets left behind. Every route is meticulously planned to be accessible, scenic, and—most importantly—easy for everyone to crush. Whether we’re doing a casual 5k or a costume-clad themed run, the goal is always vibes over velocity.</p>
    <h3>every last friday of the month</h3>

    <ion-button>new event</ion-button>
  </ion-grid>


</ion-content>
