<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row>
      <ion-back-button defaultHref="/tab3"></ion-back-button>
      <ion-title></ion-title>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="main-container">
    <h1>CraftClub</h1>
    <div class="info-tag">
      <ion-icon name="calendar-outline"></ion-icon>
      <h3>every wednesday</h3>
    </div>
    <h2>Members</h2>

    <ion-row>
      <div class="member-item">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/avatar/lina.JPG" />
        </ion-avatar>
        <h4 class="member-name">Lina</h4>
      </div>

      <div class="member-item">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/avatar/seli.JPG" />
        </ion-avatar>
        <h4 class="member-name">Seli</h4>
      </div>

      <div class="member-item">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/avatar/aylin.JPG" />
        </ion-avatar>
        <h4 class="member-name">aylin</h4>
      </div>

      <div class="member-item">
        <ion-avatar>
          <img alt="Silhouette of a person's head" src="assets/avatar/bremer.jpg" />
        </ion-avatar>
        <h4 class="member-name">Vicky</h4>
      </div>


    </ion-row>
    <h2>Description</h2>
    <p>Sparkles, snacks, and zero stress. ✨ Join the CraftClub Girls Night for an evening of DIY and deep dives. Whether you’re a pro or just here for the aesthetic, come create something cool with the best crew. No skills required—just good vibes and plenty of glitter. See you there!</p>

  </ion-grid>
  <ion-button id="open-modal" class="new-event-button">NEW EVENT</ion-button>
  <ion-modal trigger="open-modal" class="center-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>New CraftClub Event</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeModal()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div class="modal-body">
          <ion-item lines="none">
            <ion-label position="stacked">Select Date</ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime id="datetime" presentation="date"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>

          <ion-item lines="none">
            <ion-textarea
              label="Note"
              labelPlacement="stacked"
              placeholder="Write a little note here..."
              [autoGrow]="true"
              rows="3">
            </ion-textarea>
          </ion-item>

          <div class="button-wrapper">
            <ion-button expand="block" class="publish-btn" (click)="closeModal()">
              PUBLISH
            </ion-button>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>

