
<section class="notification-modal" >

  <ion-grid *ngIf="notification" class="content-grid"
   >


    <ion-row>
      <ion-col size="12">
        <h1 class="notification-title" [class]="notification.type">{{ notification.title }}</h1>
        <p class="date">{{ notification.date | date:'dd.MM.yyyy HH:mm' }}</p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="notification-text">{{ notification.text }}</p>
        <p class="notification-details">
          {{ notification.fullDetails }}
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="button-row">
      <ion-col size="6">
        <ion-button expand="block" [class]="notification.type" class="accept" (click)="accept()">
          Accept
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand="block" [class]="notification.type"  fill="outline" class="decline" (click)="dismiss()">
          Decline
        </ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>

</section>
