ion-tab-bar{
  --background: transparent;
  border-width: 0;
  background: transparent;
  box-shadow: none;
  border: none;
}

ion-tab-button{
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--ion-color-dark);
}

ion-label{
  font-family: "Inter", sans-serif;
}

.tab-icons{
  width: 18px;
  //--color: var(--ion-color-dark);
}

ion-tab-button.tab-selected{
  color: var(--ion-color-primary);
}

ion-tab-button.tab-selected.img{
  color: var(--ion-color-primary);
}

