<ion-header>
  <ion-toolbar color="light">
    <ion-title>My Clubs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>WSWED - Run Club</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>D&D</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="dinner" >
  <ion-card>
    <ion-card-header>
      <ion-card-title><h1> Dinner Party </h1><h1>45</h1></ion-card-title>
    </ion-card-header>
  </ion-card>
  </ion-button>
</ion-content>
