<ion-header>
  <ion-toolbar color="light">
    <ion-title>My Clubs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-col>

  <ion-button expand="block" routerLink="dinner" shape="round" class="dinner-button">
  <h1 class="button-text"> Dinner Party</h1>
    <h1 class="button-number">7</h1>
  </ion-button>

  <ion-button  expand="block" routerLink="run" shape="round" class="run-button">
    <h1 class="button-text"> WSWED Run Club </h1>
    <h1 class="button-number">23</h1>
  </ion-button>

  <ion-button expand="block" routerLink="crafts" shape="round" class="craft-button">
    <h1 class="button-text"> CraftClub </h1>
    <h1 class="button-number">15</h1>
  </ion-button>

    <ion-button expand="block" routerLink="karaoke" shape="round" class="karaoke-button">
      <h1 class="button-text">Karaoke &#64;Theatercafé</h1>
      <h1 class="button-number">4</h1>
    </ion-button>

    <ion-button expand="block" routerLink="presentations" shape="round" class="presentation-button">
      <h1 class="button-text"> GT! Presentations </h1>
      <h1 class="button-number">1</h1>
    </ion-button>

  </ion-col>
</ion-content>
