ion-toolbar {
  --background: #fdfdfd;

}

ion-back-button {
  color: #DE5A2E;
}

.main-container{
  padding: 20px 20px 20px 20px;

  h1 {
    margin-top: 0;
    font-family: "Bricolage Grotesque";
    font-weight: bold;
    font-size: 50px;
    color: #DE5A2E;
  }

  h2 {
    font-family: "Inria Sans";
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
  }

  .info-tag {
    display: flex;         /* Puts icon and h3 on the same line */
    align-items: center;   /* Centers them vertically */
    gap: 8px;              /* Space between the icon and text */
    margin-top: 10px;
    color: #666;           /* Optional: a slightly softer color for the sub-info */

    ion-icon {
      font-size: 22px;     /* Adjust icon size */
      margin-top: 8px;
      color: #DE5A2E;      /* Give the icon your Run Club brand color */
    }}

  h3{
    font-family: "Inria Sans";
    font-style: italic;
    font-weight: lighter;
  }

  p{
    font-family: "Inria Sans";
    font-size: 20px;
    line-height: 1.5;
  }
}

ion-content{
  --background: #fdfdfd;
}

ion-button{
  --background: #DE5A2E;
  --border-radius: 50px;
  font-family: "Inria Sans";
  text-transform: none;
  font-weight: 600;
  font-size: 18px;


  &.new-event-button {
    position: fixed;
    bottom: 30px;  /* Distance from bottom */
    right: 20px;   /* Distance from right side */
    z-index: 10;   /* Keeps it above the text */

    --border-radius: 50px;
    --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    height: 50px;
  }
}





/* POP-UP */
.center-modal {
  font-family: "Inria Sans";
  --height: 350px;
  --width: 90%;
  --border-radius: 20px;
  align-items: center;
  --max-width: 400px;
}

ion-modal::part(backdrop) {
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

ion-datetime-button {
  margin-top: 10px;
  transform: scale(1.2);
  transform-origin: left;
  height:60px;
}


.button-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
}

.publish-btn {
  font-family: "Inria Sans";
  --background: #DE5A2E;
  --color: white;
  --border-radius: 50px;
  --padding-start: 25px;
  --padding-end: 25px;
  height: 45px;
  margin: 0;
  text-transform: none;
  font-weight: 600;
  font-size: 18px;
}


ion-item {
  --background: #f4f4f4;
  --border-radius: 10px;
  margin-bottom: 15px;
}







/* AVATAR KRAM */
ion-avatar {
  padding: 3px;
}

.member-item {
  display: flex;
  flex-direction: column; /* Stacks image on top of text */
  align-items: center;    /* Centers everything horizontally */
  justify-content: center;
  width: 80px;            /* Ensures names don't push avatars apart weirdly */
}

.member-name {
  font-family: "inria Sans";
  margin-top: 5px;        /* Gap between circle and text */
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: center;     /* Centers text within its own box */
}




