<ion-content fullscreen class="dashboard-page">

  <!-- header area -->
  <section class="background">
    <ion-grid class="header-grid">
      <ion-row class="hello">
        <ion-col size="12">
          <div>HELLO SELINA</div>
        </ion-col>
      </ion-row>

      <ion-row class="day-date">
        <ion-col size="12">
          <div class="day">MONDAY</div>
          <div class="date">02.02.</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>


  <ion-grid class="today-section">
    <ion-row>
      <ion-col size="12">
        <h5> Today at a glance </h5>
       <!-- <p> 10:00 WSWED Run, Start: Kunsthaus</p>-->
        <mbsc-eventcalendar
          [data]="myEvents"
          [options]="dailyOptions" >

        </mbsc-eventcalendar>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid class="notifications-section">
    <ion-row>
      <ion-col size="12">
        <h5> Notifications </h5>
      </ion-col>

      <ion-col size="12">
        <ion-list class="notification-item">

          <ion-item
            button
            detail="false"
            lines="none"
            *ngFor="let item of notifications"
            [class]="item.type"
            (click)="openModal(item)">

           <!-- <img [src]="item.icon" alt="icon" class="notification-icons"/>-->
            <ion-label>
              <!--<ion-chip color="primary"> {{item.tag}} </ion-chip>-->
              <h2> {{ item.title }} </h2>

              <p class="date">{{ item.date | date:'dd.MM.yyyy HH:mm' }}</p>
              <p class="text"> {{ item.text }} </p>



            </ion-label>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-toast
    [isOpen]="isToastOpen"
    message="2 new Notifications"
    [duration]="5000"
    position="top"
    (didDismiss)="setOpen(false)">
  </ion-toast>


</ion-content>
