ion-content{
  --background: var(--ion-color-light);
}

.background ion-row ion-col {
  display: flex;
  flex-direction: column;
}

.background {
  background: var(--ion-color-secondary);
  display: flex;
  height: 40vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.header-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello {
  font-size: 0.8em;
  font-family: "Inter", sans-serif;
}

.day-date {
  .day {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
  }

  .date{
    font-size: 6em;
    color: var(--ion-color-primary);
    margin:0;
    line-height: 0.8em;
    font-family: "Pally-Bold", sans-serif;
    font-weight: bold;
  }

}

.today-section{
  padding-left: 10px;

}

/* --- NOTIFICATIONS SECTION --- */

.notifications-section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

h5{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Inter", sans-serif;
}


/* Full-width list items */
ion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  --border-radius: 12px;
  --inner-border-width: 0px;
  --border-width: 1px;
}



ion-label{
  --border-width: 0;

  h2{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
  }


  ion-chip{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 12px;
    padding-right: 12px;
    font-family: Inter, sans-serif;
    font-weight: bold;
    font-size: 8px;
    --background: var(--ion-color-primary);
    letter-spacing: 2px;
    margin: 0;
  }
}

img{
  width: 40px;
  height: 40px;
  padding-right: 3px;
}






