ion-content{
}

ion-toolbar{
  --background: transparent;
  --border-width: 0;
}

ion-title{
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding-top: 5px;
  padding-bottom: 0px;
  color: white;
  padding-left: 5px;

}


.background ion-row ion-col {
  display: flex;
  flex-direction: column;
}

.background {
  //background: var(--ion-color-secondary);
  background-image: url("../../../assets/bg3.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  height: 40vh;
  //border-bottom-left-radius: 20px;
  //border-bottom-right-radius: 20px;
  padding: 10px;
}


h5{
  margin: 0;
  padding-top: 10px;
  padding-bottom:10px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
}


.header-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.day-date {
  .day {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "Inria Sans", sans-serif;
    color: #fdfdfd;
  }

  .date{
    font-size: 6em;
    color: #fdfdfd;
    margin:0;
    line-height: 0.8em;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
  }

}

.today-section{
  padding-left: 10px;
  /* This targets the "Mo. 2. Feb. 2026" row specifically */

}

:host {
  ::ng-deep {
    /* Target die exakte Klasse aus deinem Screenshot */
    .mbsc-ios.mbsc-list-header,
    .mbsc-agenda-day {
      display: none !important;
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;
    }


    .mbsc-agenda-item {
      border-bottom: none !important;
      border-top: none !important;
    }

    .mbsc-agenda-list {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    mbsc-eventcalendar {
      --mbsc-background: transparent;
      border: none !important;
    }
  }
}



/* --- NOTIFICATIONS SECTION --- */

.notifications-section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}


.notification-item {
  background: transparent;
  padding-top: 0px;
  padding-bottom: 0px;

}

ion-col{
  padding: 0px;
}

ion-item {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  --border-radius: 12px;
  --border-width: 1px;
}

ion-item.run{
  --background: #DAECF6;
  --border-width: 1px;
  --border-color: #47A2D3;
}

ion-item.dinner{
  --background: #E0EDDE;
  --border-width: 1px;
  --border-color: #65A55B;
}



ion-label{
  --border-width: 0;

  h2{
    font-family: "Inria Sans", sans-serif;
    font-weight: bold;

    padding-bottom: 4px;
  }

  .date{
    color: black;
  }

  .text{
    padding-top: 5px;
    font-style: italic;
  }

}

img{
  width: 40px;
  height: 40px;
  padding-right: 10px;

}

ion-toast {
  /* Change the background and text color */
  --background: #f4f4f4;
  --color: #333;

  /* Add a border or shadow */
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;

  /* If position="top", use this to push it down from the status bar */
  margin-top: 20px;
}
