ion-content{
  --background: #fffff;
}

.background ion-row ion-col {
  display: flex;
  flex-direction: column;
}

.background {
  background: var(--ion-color-secondary);
  display: flex;
  height: 40vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

.header-grid {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hello {
  font-size: 0.8em;
  font-family: "Inria Sans", sans-serif;
}

.day-date {
  .day {
    font-weight: normal;
    font-size: 1em;
    margin-bottom: 10px;
    font-family: "Inria Sans", sans-serif;
  }

  .date{
    font-size: 6em;
    color: var(--ion-color-primary);
    margin:0;
    line-height: 0.8em;
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: bold;
  }

}

.today-section{
  padding-left: 10px;
  /* This targets the "Mo. 2. Feb. 2026" row specifically */

  h5{
    font-family: "Bricolage Grotesque", sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: bold;
  }
}

:host {
  ::ng-deep {
    /* Target die exakte Klasse aus deinem Screenshot */
    .mbsc-ios.mbsc-list-header,
    .mbsc-agenda-day {
      display: none !important;
      height: 0 !important;
      padding: 0 !important;
      margin: 0 !important;
      border: none !important;
    }


    .mbsc-agenda-item {
      border-bottom: none !important;
      border-top: none !important;
    }

    .mbsc-agenda-list {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    mbsc-eventcalendar {
      --mbsc-background: transparent;
      border: none !important;
    }
  }
}



/* --- NOTIFICATIONS SECTION --- */

.notifications-section {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
}

h5{
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  font-weight: bold;
}

.notification-item {
  background: transparent;
}

ion-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  --border-radius: 12px;
  --inner-border-width: 0px;
  --border-width: 1px;
}

ion-label{
  --border-width: 0;

  h2{
    font-family: "Bricolage Grotesque", sans-serif;
    font-weight: 500;
    padding-bottom: 4px;
  }

}

img{
  width: 40px;
  height: 40px;
  padding-right: 10px;

}

ion-toast {
  /* Change the background and text color */
  --background: #f4f4f4;
  --color: #333;

  /* Add a border or shadow */
  --box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  --border-radius: 8px;

  /* If position="top", use this to push it down from the status bar */
  margin-top: 20px;
}






