//whole page
.calendar-page{
  background: #fdfdfd;
}

ion-content{
  --background: #fdfdfd;
}


//header
ion-title{
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 40px;
  line-height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;

}


//calendar
.mbsc-calendar{
  background: #fdfdfd;

}


